body{
    background-color:#eee5d9;
    font-family: Arial, Helvetica, sans-serif;
}
h1{
    text-align: center;
    color:hsl(195, 29%, 56%)
}
.project img{
    width: 300px;
    height: 300px;
    margin: 10px;
    border: 2px solid hsl(195, 100%, 18%); /* choose a color */
    display: block;
    margin: auto;
    }